[user]
  email = ruwatana@gmail.com
  name = ruwatana 
[merge]
  tool = vimdiff
[core]
  editor = vim
[gui]
  encoding = utf-8
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  co = checkout
  cm = commit
  d = diff
  st = status
  dl = branch -D
  f = fetch
  fp = fetch --prune
  cleanup = !git fetch --prune && git branch -vv | grep ': gone]' | grep -v '\\*' | awk '{ print $1 }' | xargs -r git branch -D;
[init]
  defaultBranch = main
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[push]
	autoSetupRemote = true
