[user]
  email = ruwatana@gmail.com
  name = ruwatana 
[merge]
  tool = vimdiff
[core]
  editor = vim
[gui]
  encoding = utf-8
[color]
  ui = auto
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[alias]
  graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  co = checkout
  cm = commit
  d = diff
  st = status
  dl = branch -D
  f = fetch
  dla = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[init]
	defaultBranch = main
